<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="con" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True" />
  <add name="signdbConnectionString" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="signdbConnectionString2" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="signdbConnectionString3" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="signdbConnectionString4" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="signdbConnectionString5" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="signdbConnectionString6" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="signdbConnectionString7" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="signdbConnectionString8" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="signdbConnectionString9" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="signdbConnectionString10" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="signdbConnectionString11" connectionString="Data Source=LAPTOP-04NDJ8P3\SQLEXPRESS01;Initial Catalog=signdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
	  
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode"  value="None" />
	</appSettings>

	
</configuration>
